<h1>Listing user_preferences</h1>
<%= link_to 'New User preference', new_user_preference_path %>
<table>
  <tr>
    <th>User</th>
    <th>Item</th>
    <th>Preference</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_preferences.sort_by{|x| x.user_id}.each do |user_preference| %>
  <tr>
    <td><%= user_preference.user.id %> : <%= user_preference.user.name %></td>
    <td><%= user_preference.item.id %> : <%= user_preference.item.name %></td>
    <td><%= user_preference.preference %></td>
    <td><%= link_to 'Show', user_preference %></td>
    <td><%= link_to 'Edit', edit_user_preference_path(user_preference) %></td>
    <td><%= link_to 'Destroy', user_preference, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate(@user_preferences) %>

